body {
  background-color: #e5e5e5;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
	font-size: 11px; }

	.car-div {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.new {
		display: flex;
		justify-content: center;
		background-color: #0c4a6e;
		border-radius: 5px;
		padding: 5px 0;
	}

	.field label {
		color: #f0f9ff;
		border-radius: 4px;
	} 

	.tr {
		text-align: center;
		background-color: #0284c7;
		margin: auto 0;
	}

	.h1, h1 {
		text-align: center;
	}

	h1 {
		color: #fff;
	}
	
	.table thead {
		background-color: #0369a1;
	}

a {
	display: inline-block;
	color: #000;
	text-decoration: none;
	color: #fff!important;
	background-color: #1e40af;
	border-radius: 2px;
	padding: 3px 5px;
 }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
